body {
  background-color: #292929 !important;
}
.container-fluid {
  background-color: #333;
  width: 90%;
}

.episode-title,
.episode-summary {
  color: whitesmoke;
}

.episode-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
}