body {
  background-color: #292929 !important;
}
.container-fluid {
  background-color: #333;
  width: 90%;
}

.episode-title,
.episode-summary {
  color: whitesmoke;
}

.episode-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
}

.navbar {
  border-radius: 0 !important;
}
.navbar-nav {
  border-bottom: 1px solid;
}
.navbar-default {
  background-color: #333 !important;
}
.nav li {
  padding-right: 20px;
}